body{
    height: 100vh;
}

.calendarContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

h1{
    color:#431d70;
    font-size: 2.5rem;
    text-decoration: underline;
}
