body{
    background: linear-gradient(180deg, #431D70 0%, rgba(67, 29, 112, 0.72) 100%);
    background-repeat: no-repeat;
    background-image: url(./mainPagePhotos/newsletterBackground.tiff);
    background-size: cover;
    height: 100vh;
}

main{
    display: flex;
    justify-content: flex-start;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.signupBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 600px;
    /*height: 700px;*/
    height: 80vh;
    border-radius: 15px;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25);
}

#mc_embed_signup_scroll{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#mce-EMAIL{
    border: none;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
    width: 300px;
}

.button#mc-embedded-subscribe{
    border: none;
    border-radius: 5px;
    background: none;
    background-color: #1CC775;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    color: white;
    font-size: 1rem;
    font-family: Poppins, sans-serif;;
}

h4{
    margin-top: 20px;
}

#mc_embed_signup{
    padding: 10px;
}