body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    height: 100vh; 
    background-image: url('../assets/image 8.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    
  }
  
  .content {
    padding: 50px;
    background-color: white;
    color: black;
  }
  


.front{
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 45px;
 
}

  .leftcontainer{
    width: 50%;
    height: 65vh;
    background-color: #FFF3FF;
    border-radius: 20px;
    flex-direction: column;
    
  }
  .top{
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: column;
    background-color: #5F4B8B;
    border-radius: 20px 20px 0 0;
  }
  .topbottom{
    width: 100%;
    height: 3px;
    background-color: #5F4B8B;
    margin-top: auto;
  }
  
  .circlecont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30vh;
    padding-left: 20px; 
}

.circle1 {
  width: 20px; 
  height: 20px; 
  background-color: #D45D5D; 
  border-radius: 50%; 
  margin-right: 10px; 
}
.circle2 {
  width: 20px; 
  height: 20px; 
  background-color: #D3BF66; 
  border-radius: 50%; 
  margin-right: 10px; 
}
.circle3 {
  width: 20px; 
  height: 20px; 
  background-color: #6CB678; 
  border-radius: 50%; 
  margin-right: 10px; 
}
  

.image1{
  width: 100%;
  height: auto;
  margin-top: 50px;
}


.image2{
  width: 115%;
  height: auto;
  margin-top: 30px;
  padding: 50px;
}
  
.learncontainer {
  width: 100%;
  height: 50vh;            
  background-color: #5F4B8B; 
  display: flex;             
  flex-direction: column;    
  justify-content: center;   
  align-items: center;      
  text-align: center;       
}

.learncontainer h1 {
  margin-bottom: 30px; 
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: -70px;
  font-family: Montserrat Alternates;
}

.icons {
  display: flex;              
  justify-content: center;    
  gap: 30px;   
  align-items: center;
}

.eventsbutton,
.updatesbutton,
.aboutbutton {
  width: 207px;
  height: 71px;
  background-color: #5F4B8B;
  border-radius: 60px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat Alternates;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;

  
}

.eventsbutton:hover,
.updatesbutton:hover,
.aboutbutton:hover {
  transform: scale(1.05);        
  border-color: #F1E4E4;        
}


.upcomingeventbox{
  width: 90%;
  height: 40vh; 
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  border-radius: 30px;
  background-color:#E6F2FB ;
  position: relative;
}

.upcomingimage{
  width: 20%;             
  height: auto; 
  margin-left: -700px;
  object-fit: cover;    
}

.upcomingeventbox h1{
  position: absolute;         
  top: 60px;                  
  left: 60%;                  
  transform: translateX(-50%); 
  font-size: 40px;     
  font-family: Montserrat Alternates;  
  margin: 0;                  
  padding: 0;
  text-align: center;
  color: #5F4B8B;
}

.info{
  position: absolute;         
  top: 120px;                  
  left: 60%;                  
  transform: translateX(-50%); 
  font-size: 25px;     
  font-family: Montserrat Alternates;;      
  margin: 0;                  
  padding: 0;
  text-align: center;
  color: black;

}

.updatebox{
  width: 90%;
  height: 40vh; 
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  border-radius: 30px;
  background-color:#E6F2FB ;
  position: relative;
}

.updateimage{
  width: 20%;             
  height: auto; 
  margin-left: -700px;
  object-fit: cover;    
}

.updatebox h1{
  position: absolute;        
  top: 60px;                 
  left: 60%;                 
  transform: translateX(-50%); 
  font-size: 40px;     
  font-family: Montserrat Alternates;;      
  margin: 0;                  
  padding: 0;
  text-align: center;
  color: #5F4B8B;
}


.updateinfo{
  position: absolute;      
  top: 120px;                
  left: 60%;             
  transform: translateX(-50%); 
  font-size: 25px;     
  font-family: Montserrat Alternates;     
  margin: 0;                  
  padding: 0;
  text-align: center;
  color: black;

}

.title{
  width: 92%;
  height: 10vh; 
  display: flex; 
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  margin: 50px auto;
  border-radius: 30px;
  background-color:#E6F2FB ;
  position: relative;
}


.title h1{
  font-family: Montserrat Alternates;
  color: #5F4B8B;
  font-size: 40px;     


}

.about-us{
  width: 90%;
  height: 80vh; 
  display: flex; 
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  margin: 50px auto;
  padding: 20px;
  border-radius: 30px;
  background-color:#E6F2FB ;
  position: relative;
}



.eventsact{
  width: 30%;
  margin: 1rem; 
  padding: 1rem;
  flex-direction: columm;
  align-items: center;
  text-align: center;

}

.eventsact img{
  display: block; 
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto; 
  transition: transform 0.3s ease;


}

.about-us-image:hover,
.updateimage:hover {
  transform: scale(1.05); 
}





.ourmission{
  width: 30%;
  margin: 1rem; 
  flex-direction: columm;

  padding: 1rem;
  text-align: center;

}

.ourmission img{
  display: block; 
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto; 
  transition: transform 0.3s ease; 

}

.ACMchap{
  width: 30%;
  margin: 1rem; 
  flex-direction: columm;

  padding: 1rem;
  text-align: center;

}

.ACMchap img{
  display: block; 
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto; 
  transition: transform 0.3s ease; 

}




.about-us p {
  font-family: 'Montserrat Alternates', sans-serif;
}

.about-us h1{
  font-family: 'Montserrat Alternates', sans-serif;
  color: #5F4B8B;


}

