




.laptop {
  background-color: #5F4B8B; 
  border-radius: 16px;
  padding: 4rem 2rem;
  
  max-width: 700px;
  max-height: 500px;
  margin: 16rem auto 2rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}


.background{
  background-image: url('../assets/newsletterbg.png');
  background-size: cover;
 
  min-height: 100vh; 
  width: 100%;
  background-position: center top; 
}


#mc_embed_signup {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 100%; 
  font-family: 'Arial', sans-serif;

  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0; 
}


.mc-field-group {
  margin-bottom: 1.5rem;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.button {
  background-color: #7c3aed;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #5b21b6;
}




